<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/imagenes/icono.ico">

    <title>PUBLICAR RECETA - popCACkes</title> 

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oregano:ital@0;1&display=swap"
        rel="stylesheet">

    <!-- font awasome -->
    <script src="https://kit.fontawesome.com/d419a23d09.js" crossorigin="anonymous"></script>

    <!-- link a css -->
    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body class="body-formulario">


    <header class="header">
        <nav class="nav">

            <!-- logo -->
            <div class="logo-pagina-inicio" id="logo-pagina-inicio">
                <a href="/index.html">
                    <i class="logo-inicio fa-solid fa-cake-candles fa-bounce" ></i>
                    <span class="inicio-texto"><b>popCACkes</b></span>
                </a>
            </div>
        </nav>
    </header>

    <main class="main-formulario"> 
        <form class="formulario" id="formulario">

            <!-- grupo Titulo Receta -->
            <div class="formulario-grupo" id="grupo-titulo-receta">
                <label for="titulo-receta" class="formulario-label">TITULO DE LA RECETA</label>
                <div class="formulario-grupo-input">
                    <input type="text" class="formulario-input" name="titulo-receta" id="titulo-receta" required
                        placeholder="Por favor, ingrese un título para la receta:">
                </div>
            </div> <!-- FIN grupo Titulo Receta -->

            <!-- grupo Dificultad -->
            <div class="formulario-grupo" id="grupo-dificultad">
                <label for="dificultad" class="formulario-label">NIVEL DE DIFICULTAD</label>
                <div class="formulario-grupo-input">
                    <select class="formulario-input" name="dificultad" id="dificultad">
                        <option value="">Seleccione el nivel de dificultad:</option>
                        <option value="bajo">Bajo</option>
                        <option value="medio">Medio</option>
                        <option value="alto">Alto</option>
                    </select>
                </div>
            </div> <!-- FIN grupo Dificultad -->

            <!-- grupo Duración -->
            <div class="formulario-grupo" id="grupo-duracion">
                <label for="duracion" class="formulario-label">DURACIÓN</label>
                <div class="formulario-grupo-input">
                    <input type="text" class="formulario-input" name="duracion" id="duracion" 
                        placeholder="Indique el tiempo que demanda el procedimiento:">
                </div>

            </div> <!-- FIN grupo Duración -->

            <!-- grupo Ingredientes -->
            <div class="formulario-grupo" id="grupo-ingredientes">
                <label for="ingredientes" class="formulario-label">INGREDIENTES</label>
                <div class="formulario-grupo-input">
                    <textarea rows="6" class="formulario-textarea" name="ingredientes" id="ingredientes" placeholder="Ingrese el detalle completo de los ingredientes:" required></textarea>
                </div>
            </div> <!-- FIN grupo Ingredientes -->

            <!-- grupo Procedimiento -->
            <div class="formulario-grupo" id="grupo-procedimiento">
                <label for="procedimiento" class="formulario-label">PROCEDIMIENTO</label>
                <div class="formulario-grupo-input">
                    <textarea rows="6" class="formulario-textarea" name="procedimiento" id="procedimiento" placeholder="Ingrese el desarrollo completo del procedimiento:" required></textarea>
                </div>
            </div> <!-- FIN grupo Procedimiento -->

            <!-- Adjunte imagen receta -->
            <div class="formulario-grupo" id="adjuntar-receta">
                <label for="adjunto" class="formulario-label">IMAGEN DE LA RECETA</label>
                <div class="formulario-grupo-input">
                    <input type="file" class="formulario-input" id="adjunto" name="adjunto">
                </div>
                <br>
            </div> <!-- FIN Adjunte imagen receta -->

            <!-- grupo Boton -->
            <div>
                <div class="formulario-grupo formulario-grupo-boton">
                    <button type="submit" class="formulario-boton">PUBLICAR</button>
                    <button type="reset" class="formulario-boton">LIMPIAR</button>
                    <a href="/index.html" class="formulario-boton formulario-boton2">INICIO</a>
                </div>
                <p class="formulario-mensaje-exito" id="formulario-mensaje-exito"><b>RECETA ENVIADA CON ÉXITO.</b></p>
            </div>
            
        </form>
    </main>

    <footer id="footer">
        <a href="">Términos y condiciones</a>
        <a href="">Preguntas frecuentes</a>
        <a href="">Ayuda</a>

        <div class="redes-sociales">
            <a href="https://www.whatsapp.com/" target="_blank">
                <i class="fa-brands fa-whatsapp fa-beat-fade"></i>

            </a>
            <a href="https://www.instagram.com/" target="_blank">
                <i class="fa-brands fa-instagram fa-beat"></i>

            </a>

            <a href="https://www.facebook.com/" target="_blank">
                <i class="fa-brands fa-square-facebook fa-beat"></i>

            </a>

        </div>




    </footer>
    <!-- link a javascript -->
    <script src="/static/javascript/formulario.js"></script>
</body>


</html>