<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/imagenes/icono.ico">

    <title>popCACkes</title>

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oregano:ital@0;1&display=swap"
        rel="stylesheet">

    <!-- font awasome -->
    <script src="https://kit.fontawesome.com/d419a23d09.js" crossorigin="anonymous"></script>

    <!-- link a css -->
    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>
    <header class="header">
        <div class="contenedor">
            <nav class="nav">

                <!-- logo -->
                <div class="logo-pagina-inicio" id="logo-pagina-inicio">
                    <a href="/index.html">
                        <i class="logo-inicio fa-solid fa-cake-candles fa-bounce" p></i>
                        <span class="inicio-texto"><b>popCACkes</b></span></a>
                    </a>
                </div>

                <input type="checkbox" id="menu-check">
                <label id="menu" for="menu-check">
                    <span id="menu-abrir">&#9776;</span>
                    <span id="menu-cerrar">X</span>
                </label>

                <!-- hipervínculos del menú -->
                <ul class="nav-links">
                    <li class="nav-links-texto">
                        <a href="#team-dulce">TEAM DULCE</a>
                    </li>

                    <li class="nav-links-texto">
                        <a href="/templates/sintaac.html">GLUTEN FREE</a>
                    </li>

                    <li class="nav-links-texto">
                        <a class="boton-login" href="/templates/formulario.html">
                            <i class="logo-boton-login fa-solid fa-right-to-bracket fa-beat"></i>
                            <span class="login-texto"> REGISTRARSE</span>
                            <a class="registrarse-texto" href="/templates/formulario.html">REGISTRARSE</a>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </header>

    <main>
        <!-- foto producto -->
        <section id="banner-producto">
            <!-- division para el detalle de la receta -->
            <div>
                <div>
                    <!-- titulo receta -->
                    <div class="titulo-torta">
                        <h2 class="oregano-regular">LEMON PIE</h2>
                    </div>

                    <!-- foto torta -->
                    <div class="contenedor-foto-torta">
                        <img class="foto-torta" src="/static/imagenes/lemonpie.jpg" alt="Lemon pie" width="400px">
                    </div>

                </div>
            </div>

        </section>


        <!-- receta del producto -->
        <section id="info-receta">
            <div>
                <!-- tabla con duracion y dificultad -->
                <div class="tabla-receta">
                    <table>
                        <tr>
                            <td><strong>Dificultad: </strong></td>
                            <td>Media-Alta</td>
                        </tr>

                        <tr>
                            <td><strong>Duración: </strong></td>
                            <td>80 minutos</td>
                        </tr>
                    </table>
                </div>


                <!-- ingredientes -->
                <div>
                    <ul class="ingredientes">
                        <li><strong>PARA LA MASA</strong></li>
                        <p>- Harina 0000 300 g.</br>
                            - Manteca 200 g.</br>
                            - Azúcar 100 g.</br>
                            - Yema 1 unidad.</br>
                            - Sal.</br></p>
                        <li><strong>PARA EL RELLENO</strong></li>
                        <p>- Yemas 4 unid.</br>
                            - Leche 1/2 litro.</br>
                            - Jugo de limón 200 cc.</br>
                            - Azúcar 200 g.</br>
                            - Almidón de maíz 60 g.</br>
                            - Manteca 1 cda.</br>
                            - Ralladura de limón.</br></p>
                        <li><strong>PARA LA COBERTURA</strong></li>
                        <p>- Claras 5 unid.</br>
                            - Azúcar 300 g.</br>
                            - Agua 100 cc.</br></p>

                    </ul>
                </div>

            </div>

            <!-- pasos -->
            <div class="procedimiento">
                <p><strong>PROCEDIMIENTO:</strong> </br>
                    </br>
                    1.Para la masa: Batir la manteca pomada con el azúcar. Agregar la yema y la esencia de vainilla. Una
                    vez que esté bien emulsionado agregar la harina. Unir rápidamente y llevar a frío.</br>
                    2.Estirar la masa y fonsar un molde desmontable. Cocinar pinchada con tenedor por 15 minutos a horno
                    moderado, hasta que esté cocida totalmente.</br>
                    3.Para el relleno: Calentar la leche con la mitad del azúcar.</br>
                    4.En un bowl mezclar el resto del azúcar con el almidón de maíz. Mezclar bien e incorporar las
                    yemas, el jugo y la ralladura de limón. Una vez mezclado agregar la leche caliente y llevar a
                    cocinar todo junto revolviendo siempre. Cocinar hasta que hierva por un minuto y retirar del fuego.
                    Agregar la manteca y tapar con un film en contacto.
                    Una vez que se enfríe la crema de limón, cubrir la masa de tarta.</br>
                    5. Hacer un merengue italiano con las claras sobrantes y cubrir la crema. Sopletear y listo. </br>
            </div>
        </section>

        <div class="boton-volver">
            <a href="/index.html">
                <span class="texto-volver"> VOLVER</span>
        </div>



    </main>

    <footer id="footer">
        <a href="">Términos y condiciones</a>
        <a href="">Preguntas frecuentes</a>
        <a href="">Ayuda</a>

        <div class="redes-sociales">
            <a href="https://www.whatsapp.com/" target="_blank">
                <i class="fa-brands fa-whatsapp fa-beat-fade"></i>

            </a>
            <a href="https://www.instagram.com/" target="_blank">
                <i class="fa-brands fa-instagram fa-beat"></i>

            </a>

            <a href="https://www.facebook.com/" target="_blank">
                <i class="fa-brands fa-square-facebook fa-beat"></i>
            </a>
        </div>
    </footer>

    <!-- link a javascript -->
    <script src="/static/javascript/formulario.js"></script>


</body>

</html>