<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/imagenes/icono.ico">

    <title>popCACkes</title>

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oregano:ital@0;1&display=swap"
        rel="stylesheet">

    <!-- font awasome -->
    <script src="https://kit.fontawesome.com/d419a23d09.js" crossorigin="anonymous"></script>

    <!-- link a css -->
    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>
    <header class="header">
        <div class="contenedor">
            <nav class="nav">

                <!-- logo -->
                <div class="logo-pagina-inicio" id="logo-pagina-inicio">
                    <a href="/index.html">
                        <i class="logo-inicio fa-solid fa-cake-candles fa-bounce" ></i>
                        <span class="inicio-texto"><b>popCACkes</b></span>
                    </a>
                </div>

                <input type="checkbox" id="menu-check">
                <label id="menu" for="menu-check">
                    <span id="menu-abrir">&#9776;</span>
                    <span id="menu-cerrar">X</span>
                </label>

                <!-- hipervínculos del menú -->
                <ul class="nav-links">
                    <li class="nav-links-texto">
                        <a href="/index.html#team-dulce">TEAM DULCE</a>
                    </li>

                    <li class="nav-links-texto">
                        <a href="/templates/sintaac.html">GLUTEN FREE</a>
                    </li>
                    <li class="nav-links-texto">
                        <a href="/templates/formulario-receta.html">PUBLICAR</a>
                    </li>


                    <li class="nav-links-texto">
                        <a class="boton-login" href="/templates/formulario.html">
                            <i class="logo-boton-login fa-solid fa-right-to-bracket fa-beat"></i>
                            <span class="login-texto"> REGISTRARSE</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </header>

    <main>
        <!-- foto producto -->
        <section id="banner-producto">
            <!-- division para el detalle de la receta -->
            <div>
                <div>
                    <!-- titulo receta -->
                    <div class="titulo-torta">
                        <h2 class="oregano-regular">CHEESECAKE DE FRUTOS ROJOS</h2>
                    </div>

                    <!-- foto torta -->
                    <div class="contenedor-foto-torta">
                        <img class="foto-torta" src="/static/imagenes/cheesecake.jpg" alt="Cheesecake" width="400">
                    </div>

                </div>
            </div>

        </section>


        <!-- receta del producto -->
        <div id="info-receta">
            <div>
                <!-- tabla con duracion y dificultad -->
                <div class="tabla-receta">
                    <table>
                        <tr>
                            <td><strong>Dificultad: </strong></td>
                            <td>Media</td>
                        </tr>

                        <tr>
                            <td><strong>Duración: </strong></td>
                            <td>60 minutos</td>
                        </tr>
                    </table>
                </div>


                <!-- ingredientes -->
                <div class="ingredientes">
                        <p><strong>PARA EL RELLENO</strong></p>
                        <ul>
                            <li>Queso crema 750g.</li>
                            <li>Harina 130 g.</li>
                            <li>Azúcar 250 g.</li>
                            <li>Crema de leche 325 cc.</li>
                            <li>Huevos 8 unid.</li>
                            <li>Manteca fundida 130 g.</li>
                            <li>Ralladura de limón.</li>
                        </ul>
                        <p><strong>PARA LA MASA</strong></p>
                        <ul>
                            <li>Galletitas secas 250 g.</li>
                            <li>Manteca 125 g.</li>
                            
                        </ul>
                        <p><strong>DULCE DE FRUTOS ROJOS</strong></p>
                        <ul>
                            <li>Frutas 500 g.</li>
                            <li>Azúcar 500 g.</li>
                            <li>Jugo de limón 10 g.</li>
                            <li>Pectina optativa 10 g.</li>
                        </ul>
                </div>

            </div>

            <!-- pasos -->
            <div class="procedimiento">
                    <p><strong>PROCEDIMIENTO:</strong></p>
                    <ol>
                        <li>Para la base, mezclar las galletitas en una procesadora hasta que quede polvo. Agregar la manteca
                            derretida y colocar en el molde.</li>
                        <li>Para el relleno, mezclar azúcar con el harina y reservar.</li>
                        <li>En un bol, batir el queso crema, incorporar los huevos, luego la crema de leche e integrar los
                            secos. Por último, la manteca fundida y la ralladura. Cocinar a 100°C hasta que la preparación haya
                            coagulado.</li>
                        <li>Para el dulce, macerar durante 12 horas el azúcar con la fruta. Luego, cocinar hasta que llegue a
                            104°C.</li>
                    </ol>


            </div>
        </div>

        <div class="boton-volver">
                <a  href="/index.html">
                <span class="texto-volver"> VOLVER</span></a>
        </div>
    </main>

    <footer id="footer">
        <a href="#">Términos y condiciones</a>
        <a href="#">Preguntas frecuentes</a>
        <a href="#">Ayuda</a>

        <div class="redes-sociales">
            <a href="https://www.whatsapp.com/" target="_blank">
                <i class="fa-brands fa-whatsapp fa-beat-fade"></i>

            </a>
            <a href="https://www.instagram.com/" target="_blank">
                <i class="fa-brands fa-instagram fa-beat"></i>

            </a>

            <a href="https://www.facebook.com/" target="_blank">
                <i class="fa-brands fa-square-facebook fa-beat"></i>
            </a>
        </div>
    </footer>

    <!-- link a javascript -->
    <script src="/static/javascript/formulario.js"></script>


</body>

</html>