<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/imagenes/gluten-free.ico"">

    <title>GLUTEN FREE</title>

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oregano:ital@0;1&display=swap"
        rel="stylesheet">

    <!-- font awasome -->
    <script src="https://kit.fontawesome.com/d419a23d09.js" crossorigin="anonymous"></script>
    
    <!-- link a css -->
    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>
    <header class="header">
        <div class="contenedor">
            <nav class="nav">

                <!-- logo -->
                <div class="logo-pagina-inicio" id="logo-pagina-inicio">
                    <a href="/index.html">
                        <i class="logo-inicio fa-solid fa-cake-candles fa-bounce" p></i>
                        <span class="inicio-texto"><b>popCACkes</b></span></a>
                    </a>
                </div>

                <input type="checkbox" id="menu-check">
                <label id="menu" for="menu-check">
                    <span id="menu-abrir">&#9776;</span>
                    <span id="menu-cerrar">X</span>
                </label>

                <!-- hipervínculos del menú -->
                <ul class="nav-links">
                    <li class="nav-links-texto">
                        <a href="/index.html#team-dulce">TEAM DULCE</a>
                    </li>

                    <li class="nav-links-texto">
                        <a href="/templates/sintaac.html">GLUTEN FREE</a>
                    </li>

                    <li class="nav-links-texto">
                        <a class="boton-login" href="/templates/formulario.html">
                            <i class="logo-boton-login fa-solid fa-right-to-bracket fa-beat"></i>
                            <span class="login-texto"> REGISTRARSE</span>
                            <a class="registrarse-texto" href="/templates/formulario.html">REGISTRARSE</a>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <!-- foto producto -->
        <section id="banner-producto">
            <!-- division para el detalle de la receta -->
            <div>
                <div>
                    <!-- titulo receta -->
                    <div class="titulo-torta">
                        <h2 class="oregano-regular">CARROT CAKE <img src="/static/imagenes/gluten-free.ico" alt="">
                        </h2>
                    </div>

                    <!-- foto torta -->
                    <div class="contenedor-foto-torta">
                        <img class="foto-torta" src="/static/imagenes/carrot-cake.jpg" alt="Carrotcake" width="400px">
                    </div>

                </div>
            </div>

        </section>


        <!-- receta del producto -->
        <section id="info-receta">
            <div>
                <!-- tabla con duracion y dificultad -->
                <div class="tabla-receta">
                    <table>
                        <tr>
                            <td><strong>Dificultad: </strong></td>
                            <td>Media</td>
                        </tr>

                        <tr>
                            <td><strong>Duración: </strong></td>
                            <td>70 minutos</td>
                        </tr>
                    </table>
                </div>


                <!-- ingredientes -->
                <div>
                    <ul class="ingredientes">
                        <li><strong>PARA EL BIZCOCHUELO</strong></li>
                        <p>- 230 g de azúcar.</br>
                            - 300 g de mix de harina sin gluten. </br>
                            - 100 g de harinas de sorgo. </br>
                            - 1 cdita de canela. </br>
                            - 15 g de polvo leudante. </br>
                            - (4 g de goma xántica si es un mix casero). </br>
                            - 3 g de bicarbonato. </br>
                            - 1/2 cdita de sal. </br>
                            - Ralladura de 1/2 Limón y de 1/2 naranja. </br>
                            - 130 g de aceite. </br>
                            - 200 g de leche o agua. </br>
                            - 3 huevos. </br>
                            - 1 zanahoria grande rallada</br>
                            - 1/2 manzana rallada. </br>
                            - 50 g de nueces. </br>
                            </p>
                        <li><strong>PARA EL FROSTING</strong></li>
                        <p>- Queso crema 400 g. </br>
                            - Azúcar impalpable 3 cdas. </br>
                            - Ralladura de naranja 1 unid. </br>
                            </p>

                    </ul>
                </div>

            </div>

            <!-- pasos -->
            <div class="procedimiento">
                <p><strong>PROCEDIMIENTO:</strong> </br>
                    </br>
                    1. Rallar la zanahoria y la manzana con la piel y reservar (con un rallador buen finito). </br>
                    2. Colocar todos los secos en un bowl y mezclar. </br>
                    3. En otro bowl incorporar los líquidos, colocar los secos sin dejar de batir. </br>
                    4. Incorporar la manzana y la zanahoria rallada y por último las nueces. </br>
                    5. Colocar en un molde enmantecado y cocinar durante 40/ 50 minutos. </br>
                    6. Para el frosting, batir el queso crema con el azúcar impalpable y perfumar con la ralladura de
                    naranja. </br>
                    7. Cubrir la torta con el frosting y decorar con unos chips de zanahoria y nueces tostadas. </br>

                </p>
            </div>
        </section>

        <div class="boton-volver">
            <a href="./sintaac.html">
                <span class="texto-volver"> VOLVER</span>
        </div>



    </main>



    <footer id="footer">
        <a href="">Términos y condiciones</a>
        <a href="">Preguntas frecuentes</a>
        <a href="">Ayuda</a>

        <div class="redes-sociales">
            <a href="https://www.whatsapp.com/" target="_blank">
                <i class="fa-brands fa-whatsapp fa-beat-fade"></i>

            </a>
            <a href="https://www.instagram.com/" target="_blank">
                <i class="fa-brands fa-instagram fa-beat"></i>

            </a>

            <a href="https://www.facebook.com/" target="_blank">
                <i class="fa-brands fa-square-facebook fa-beat"></i>
            </a>
        </div>
    </footer>

    <!-- link a javascript -->
    <script src="/static/javascript/formulario.js"></script>


</body>

</html>