<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/imagenes/gluten-free.ico">

    <title>GLUTEN FREE</title>

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oregano:ital@0;1&display=swap"
        rel="stylesheet">

    <!-- font awasome -->
    <script src="https://kit.fontawesome.com/d419a23d09.js" crossorigin="anonymous"></script>
    
    <!-- link a css -->
    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>
    <header class="header">
        <div class="contenedor">
            <nav class="nav">

                <!-- logo -->
                <div class="logo-pagina-inicio" id="logo-pagina-inicio">
                    <a href="/index.html">
                        <i class="logo-inicio fa-solid fa-cake-candles fa-bounce" ></i>
                        <span class="inicio-texto"><b>popCACkes</b></span>
                    </a>
                </div>

                <input type="checkbox" id="menu-check">
                <label id="menu" for="menu-check">
                    <span id="menu-abrir">&#9776;</span>
                    <span id="menu-cerrar">X</span>
                </label>

                <!-- hipervínculos del menú -->
                <ul class="nav-links">
                    <li class="nav-links-texto">
                        <a href="/index.html#team-dulce">TEAM DULCE</a>
                    </li>

                    <li class="nav-links-texto">
                        <a href="/templates/sintaac.html">GLUTEN FREE</a>
                    </li>
                    <li class="nav-links-texto">
                        <a href="/templates/formulario-receta.html">PUBLICAR</a>
                    </li>


                    <li class="nav-links-texto">
                        <a class="boton-login" href="/templates/formulario.html">
                            <i class="logo-boton-login fa-solid fa-right-to-bracket fa-beat"></i>
                            <span class="login-texto"> REGISTRARSE</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <!-- foto producto -->
        <section id="banner-producto">
            <!-- division para el detalle de la receta -->
            <div>
                <div>
                    <!-- titulo receta -->
                    <div class="titulo-torta">
                        <h2 class="oregano-regular">MOUSSE DE CHOCOLATE Y FRUTOS ROJOS <img class="img-gluten" 
                                src="/static/imagenes/gluten-free.ico" alt=""> </h2>
                    </div>

                    <!-- foto torta -->
                    <div class="contenedor-foto-torta">
                        <img class="foto-torta" src="/static/imagenes/torta-mousse.jpg" alt="Mousse de chocolate"
                            width="400">
                    </div>

                </div>
            </div>

        </section>


        <!-- receta del producto -->
        <div id="info-receta">
            <div>
                <!-- tabla con duracion y dificultad -->
                <div class="tabla-receta">
                    <table>
                        <tr>
                            <td><strong>Dificultad: </strong></td>
                            <td>Media</td>
                        </tr>

                        <tr>
                            <td><strong>Duración: </strong></td>
                            <td>60 minutos</td>
                        </tr>
                    </table>
                </div>


                <!-- ingredientes -->
                <div class="ingredientes">
                    
                        <p><strong>PARA LA MARQUISE</strong></p>
                        <ul>
                            <li>Manteca 150 g.</li>
                            <li>Chocolate semi-amargo 200 g.</li>
                            <li>Claras de huevo 5 unidades.</li>
                            <li>Yemas 5 unidades.</li>
                        </ul>

                        <p><strong>PARA EL RELLENO</strong></p>
                        <ul>
                            <li>Frutillas 250 g.</li>
                            <li>Arándanos 50 g.</li>
                            <li>Licor de naranja c/n.</li>
                        </ul>
                        <p><strong>PARA LA MOUSSE</strong></p>
                        <ul>
                            <li>Crema 600 cc.</li>
                            <li>Yema 3 unidades.</li>
                            <li>Chocolate semi-amargo 300 g.</li>
                        </ul>
                        <p><strong>EXTRA</strong></p>
                        <ul>
                            <li>Frutillas.</li>
                            <li>Arándanos.</li>
                        </ul>

                </div>

            </div>

            <!-- pasos -->
            <div class="procedimiento">
                <p><strong>PROCEDIMIENTO:</strong> <p>
                    <ol>
                        <li>Fundir el chocolate y la manteca.</li>
                        <li>Incorporar a la preparación anterior las yemas.</li>
                        <li>Realizar un merengue con las claras de huevo.</li>
                        <li>Unificar con movimientos envolventes ambas preparaciones.</li>
                        <li>Llevar a un molde en mantecado de 24 cm de diámetro, llevar a horno moderado (180°C) durante 25
                            minutos. Despegar del molde y generar una suave presión para que baje de manera pareja. Dejar
                            enfriar en el mismo molde.</li>
                        <li>Cortar las frutillas en mitades, agregar los arándanos y sartenear a fuego fuerte durante unos
                            minutos con el licor.</li>
                        <li>Colocar los 200 g de crema en una cacerola y llevar a primer hervor.</li>
                        <li>En un bol mezclar las yemas. Colar la crema, unificar y volver a cocción hasta espesar. No debe
                            hervir.</li>
                        <li>Volcar sobre el chocolate y mezclar hasta lograr una crema brillosa.</li>
                        <li>Agregar la crema a medio punto.</li>
                        <li>Disponer en una manga de repostería y llenar el. molde con el bizcocho de base y el centro de
                            frutillas y arándanos cocidos.</li>
                        <li>Llevar a heladera por 4 hs y cubrir con ganache fluida. Volver al frío y decorar.</li>
                    </ol>

            </div>
        </div>

        <div class="boton-volver">
            <a href="./sintaac.html">
                <span class="texto-volver"> VOLVER</span></a>
        </div>



    </main>



    <footer id="footer">
        <a href="#">Términos y condiciones</a>
        <a href="#">Preguntas frecuentes</a>
        <a href="#">Ayuda</a>

        <div class="redes-sociales">
            <a href="https://www.whatsapp.com/" target="_blank">
                <i class="fa-brands fa-whatsapp fa-beat-fade"></i>

            </a>
            <a href="https://www.instagram.com/" target="_blank">
                <i class="fa-brands fa-instagram fa-beat"></i>

            </a>

            <a href="https://www.facebook.com/" target="_blank">
                <i class="fa-brands fa-square-facebook fa-beat"></i>
            </a>
        </div>
    </footer>

    <!-- link a javascript -->
    <script src="/static/javascript/formulario.js"></script>


</body>

</html>